* {
  box-sizing: border-box;
}
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow:hidden;
  font-family: "Inter", sans-serif;
}
canvas {
  width: 100%;
  height: 100%;
}
.title {
  position: absolute;
  padding: 24px;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 28px;
  color: antiquewhite;
  z-index: 1;
}

.title div {
  padding: 5px;
  border-bottom: 1px solid red;
}

.controls {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 24px;
  font-size: medium;
  font-weight: 100;
  bottom: 0;
  left: 0;
  color: antiquewhite;
  z-index: 1;
}

.controls div {
  padding: 2px;
}
.mobile-controls {
  align-items: center;
}
.desktop-controls {
  display: none;
}
#loader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 10;
  color: white;
}

#loading {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: large;
}
.bar-container {
  display: flex;
  padding: 40px;
}

.bar {
  width: 4px;
  height: 20px;
  border-radius: 1px;
  margin: 4px;
  background-color: aliceblue;
  animation: grow 1s alternate-reverse infinite;
}

.bar:nth-child(even) {
  animation-delay: 1s;
}

@keyframes grow {
  from {
    transform: scaleY(0.5);
  }
  to {
    transform: scaleY(2);
  }
}

@media (min-width: 480px) {
  .title {
    justify-content: center;
  }
  .desktop-controls {
    display: flex;
  }
  .mobile-controls {
    display: none;
  }
}
